body {
    margin: 0;
    font-family: helvetica;
}

#logo {
    width: 80px;
    height: 80px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}